<%= form_for(@model) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>df
  <% end %>

  <div class="field">
    <%= f.label :test_users %><br>
    <%= f.text_field :test_users %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
